@import url("https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap");
/*Global styles*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: "Source Sans Pro", sans-serif;
  --secondary-font: "Herr Von Muellerhoff", cursive;
  --body-font: "Cabin", sans-serif;
  --main-font-color-dark: #f77307;
  --secondary-font-color: #ffffff;
  --body-font-color: #515151;
}

html {
  font-family: var(--body-font);
  font-size: 10px;
  color: var(--body-font-color);
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

section {
  padding: 3.9rem 0;
  overflow: hidden;
}

img {
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
}

p {
  text-align: center;
  font-size: 1.6rem;
  
}

.container {
  width: 100%;
  max-width: 122.5rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}


/* TEST */
canvas {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100vw;
  max-height: 100vh;
}



/* HEADER */

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
}

.nav {
  height: 7.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-toggle {
  color: white;
  font-size: 2.2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2.5rem;
  cursor: pointer;
  z-index: 1500;
}

.fa-times {
  display: none;
}

.nav-list {
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;
  background-color: var(--main-font-color-dark);
  padding: 4.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1250;
  transform: translateX(-100%);
  transition: transform 0.5s;
}

.nav::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s;
}

.open .fa-times {
  display: block;
}

.open .fa-bars {
  display: none;
}

.open .nav-list {
  transform: translateX(0);
}

.open .nav::before {
  opacity: 1;
  transform: scale(1);
}

.nav-item {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.nav-link {
  display: block;
  color: white;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 2px;
  margin-right: -2px;
  transition: color 0.5s;
}

.nav-link:hover {
  color: var(--main-font-color-dark);
}

/* HERO */

.hero {
  width: 100%;
  height: 100vh;
  background: url(img/hero.jpg) center no-repeat;
  background-size: cover;
  background-color: var(--main-font-color-dark);
  display: flex;
  align-items: center;
  text-align: center;
}

.sub-headline {
  font-size: 8.5rem;
  font-family: var(--secondary-font);
  color: var(--secondary-font-color);
  font-weight: 600;
  line-height: 0.7;
  letter-spacing: 2px;
  opacity: 0;
  animation: fadeUp 0.5s forwards;
  animation-delay: 0.5s;
}

.sub-headline-dark {
  font-size: 8.5rem;
  font-family: var(--secondary-font);
  color: var(--main-font-color-dark);
  font-weight: 600;
  line-height: 0.7;
  letter-spacing: 2px;
  opacity: 0;
  animation: fadeUp 0.5s forwards;
  animation-delay: 0.5s;
}

.first-letter {
  text-transform: uppercase;
  font-size: 10.3rem;
}

.headline {
  color: white;
  font-size: 3.7rem;
  font-family: var(--main-font);
  text-transform: uppercase;
  font-weight: 580;
  letter-spacing: 0.5rem;
  margin-right: -0.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  animation: scale 0.5s forwards;
}

.headline-dark {
  color: var(--main-font-color-dark);
  font-size: 3.7rem;
  font-family: var(--main-font);
  text-transform: uppercase;
  font-weight: 580;
  letter-spacing: 0.5rem;
  margin-right: -0.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  animation: scale 0.5s forwards;
}

.separator {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  width: 100%;
  max-width: 23rem;
  height: 0.25rem;
  background-color: white;
  position: relative;
  opacity: 0;
  animation: grow 1.5s forwards;
  animation-delay: 0.9s;
}

.line-right::before,
.line-left::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 0.6rem solid transparent;
  opacity: 0;
  animation: grow 0.5s forwards;
  animation-delay: 1.1s;
}

.line-right::before {
  border-right-color: white;
  right: 0;
}

.line-left::before {
  border-left-color: white;
  left: 0;
}

.asterisk {
  font-size: 1.2rem;
  color: var(--secondary-font-color);
  margin: 0 1.6rem;
  opacity: 0;
  animation: spin 0.5s forwards;
  animation-delay: 1.5s;
}

.single-animation {
  opacity: 0;
  animation: fadeDown 0.5s forwards;
  animation-delay: 1.5s;
}

.headline-description h5 {
  color: white;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
  letter-spacing: 3px;
  margin-right: -3px;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: -2px;
  margin: 0 1rem;
}

.cta-btn {
  font-size: 1.1rem;
  background-color: white;
  padding: 0.9rem 1.8rem;
  color: var(--body-font-color);
  border-radius: 0.4rem;
  transition: background-color 0.5s;
}

.cta-btn:hover,
.cta-btn:focus {
  color: var(--main-font-color-dark);
  background-color: var(--secondary-font-color);
}

/* MY STORY */
.global-headline {
  text-align: center;
  margin-top: 3.9rem;
}

.my-info {
  height: 100vh;
}

.my-story .global-headline {
  margin-top: 6.9rem;
}

.global-headline .asterisk {
  color: var(--main-font-color-dark);
  margin: 2.4rem 0;
}

.headline-dark {
  color: var(--main-font-color-dark);
  letter-spacing: 0.7rem;
  margin-right: -0.7rem;
}

.global-headline .sub-headline {
  letter-spacing: -0.1px;
  line-height: 0.7;
}

.my-info {
  text-align: center;
}

.description {
  margin-bottom: 3rem;
}

.description p {
  line-height: 1.6;
  margin-bottom: 2.4rem;
}

.body-btn {
  font-size: 1.5rem;
  color: var(--secondary-font-color);
  position: relative;
  transition: color 0.5s;
}

.body-btn-dark {
  font-size: 1.5rem;
  color: var(--main-font-color-dark);
  position: relative;
  transition: color 0.5s;
}

.body-btn-dark::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: var(--main-font-color-dark);
  transition: background-color 0.5s;
}

.body-btn-dark:hover,
.body-btn-dark:focus {
  color: var(--main-font-color-dark);
}

.body-btn-dark:hover::before,
.body-btn-dark:focus::before {
  background-color: var(--main-font-color-dark);
}

.body-btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: var(--secondary-font-color);
  transition: background-color 0.5s;
}

.body-btn:hover,
.body-btn:focus {
  color: var(--main-font-color-dark);
}

.body-btn:hover::before,
.body-btn:focus::before {
  background-color: var(--main-font-color-dark);
}

/*  MY SERVICES */

.headline-services {
  color: var(--main-font-color-dark);
  font-size: 1.5rem;
  font-family: var(--main-font);
  text-transform: uppercase;
  font-weight: 580;
  letter-spacing: 0.5rem;
  margin-right: -0.5rem;
  animation: scale 0.5s forwards;
  display: flex;
  justify-content: center;
}

.services {
  display: grid;
  margin: 2rem 0;
}

.service {
  margin: 1.5rem 0;
}

.service-icon {
  font-size: 2rem;
  color: var(--main-font-color-dark);
  margin: 0 1.6rem;
  opacity: 0;
  animation: spin 0.5s forwards;
  animation-delay: 1.5s;
  text-align: center;
  padding: 2rem;
}

/* MY WORK */
.my-work {
  height: 30vh;
  margin-top: 3rem;
  background: url(img/tasteful-recipes.jpg) center no-repeat;
  background-color: #f77307;
  background-size: cover;
}

.between {
  min-height: 10vh;
  display: flex;
  align-items: center;
}

/* IMAGE GROUP*/

.image-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  max-width: 1000px;
  grid-gap: 1.25rem;
}

.portfolio-item {
  background: var(--body-font-color);
  overflow: hidden;
}

.portfolio-img {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

.portfolio-item:focus {
  position: relative;
  z-index: 2;
}

.portfolio-img:hover,
.portfolio-item:focus .portfolio__img {
  transform: scale(1.2);
  opacity: 0.5;
}

/* CONTACT */
.resume {
  background: url(/img/contactmeimg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.resume .asterisk{
  color: white;
}

.body-btn-light {
  font-size: 1.5rem;
  color: var(--secondary-font-color);
  margin-top: 1rem;
  position: relative;
  transition: color 0.5s;
}

.body-btn-light::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: var(--secondary-font-color);
  transition: background-color 0.5s;
}

.body-btn-light:hover,
.body-btn-light:focus {
  color: white;
}

.body-btn-light:hover::before,
.body-btn-light:focus::before {
  background-color: white;
}

/* Footer */
footer {
  padding: 7.9rem 0;
  background-color: #121212;
  color: white;
  text-align: center;
  position: relative;
}

.back-to-top {
  width: 7rem;
  height: 7rem;
  background-color: #121212;
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}

.back-to-top i {
  display: block;
  color: white;
  font-size: 2rem;
  padding: 2rem;
  animation: up 2s infinite;
}

.footer-content {
  overflow: hidden;
}

.footer-content h4 {
  font-size: 1.9rem;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 3px;
  margin-bottom: 3rem;
}

.footer-content .asterisk {
  margin: 2.4rem 0;
}

.footer-content-about {
  margin-bottom: 5.4rem;
}

.footer-content-about p {
  line-height: 2;
}

.social-icons {
  list-style: none;
  margin-bottom: 5.4rem;
  display: flex;
  justify-content: center;
}

.social-icons i {
  font-size: 2rem;
  color: white;
  padding: 0.8rem 2rem;
  opacity: 0.5;
  transition: color 0.5s;
}

.social-icons i:hover,
.social-icons i:focus {
  color: var(--secondary-font-color);
}

.newsletter-form {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.newsletter-input {
  width: 100%;
  max-width: 25rem;
  padding: 1rem;
  border-radius: 0.4rem;
}

.newsletter-btn {
  background-color: transparent;
  border: none;
  color: var(--main-font-color-dark);
  cursor: pointer;
  font-size: 1.6rem;
  padding: 1px 0.6rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10.5rem;
}

.my-info-contact {
  height: 50vh;
}

/* MEDIA QUERIES */
@media screen and (min-width: 900px) {
  section {
    padding: 7.9rem;
  }

  .menu-toggle {
    display: none;
  }

  .nav {
    justify-content: space-between;
    margin-left: 30rem;
  }

  .nav-list {
    position: initial;
    width: initial;
    height: initial;
    background-color: transparent;
    padding: 0;
    justify-content: initial;
    flex-direction: row;
    transform: initial;
    transition: initial;
  }

  .nav-item {
    margin: 0 2.4rem;
    border: none;
  }

  .nav-item:last-child {
    margin-right: 0;
  }

  .nav-link {
    font-size: 1.3rem;
  }

  .active {
    position: relative;
  }

  .active::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    left: 0;
    bottom: -3px;
  }

  .sub-headline {
    font-size: 10rem;
  }

  .first-letter {
    font-size: 12.2rem;
  }

  .headline {
    font-size: 4.7rem;
    letter-spacing: 0.8rem;
    margin-top: 1.5rem;
  }

  .headline-services {
    font-size: 2rem;
    letter-spacing: 0.8rem;
    margin: 2rem 1rem;
    color: var(--main-font-color-dark);
    text-align: center;
  }

  .line {
    max-width: 32rem;
  }

  .my-info {
    display: flex;
    align-items: center;
  }

  .my-info > div {
    flex: 1;
  }

  .padding-right {
    padding-right: 7rem;
  }

  .footer-content {
    max-width: 77.5rem;
    margin: auto;
  }

  .footer-content-about {
    max-width: 51.3rem;
    margin: 0 auto 5.4rem;
  }

  .footer-content-divider {
    display: flex;
    justify-content: space-between;
  }

  .social-media,
  .newsletter-form {
    width: 100%;
    max-width: 27.3rem;
    margin: 0 1rem;
  }

  .social-icons i {
    opacity: 1;
  }

  .newsletter-btn {
    margin-left: 8.5rem;
  }

  .column {
    float: left;
    width: 25%;
    padding: 1rem 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .service-icon {
    font-size: 5rem;
    color: var(--main-font-color-dark);
    margin: 0 1.6rem;
    opacity: 0;
    animation: spin 0.5s forwards;
    animation-delay: 1.5s;
    display: flex;
    justify-content: center;
  }

  .my-services {
    height: 100vh;
  }

  .page-separator {
    background: url(img/servicesbg.jpg) center;
    background-size: contain;
    background-color: var(--main-font-color-dark);
  }



  /*Cube Animation*/
  .wrapper {
    width: 200px;
    height: 50px;
    margin: 15% auto;
    perspective: 600px;
    display: flex;
    justify-content: center;
  }

  .box-area {
    width: 50%;
    height: 100%;
    position: relative;
    animation: animate 10s ease-in-out infinite;
    transform-style: preserve-3d;
  }

  .box-area div {
    position: absolute;
    width: 200px;
    height: 200px;
    line-height: 200px;
  }

  .box-area .box1 {
    position: absolute;
    background-color: var(--main-font-color-dark);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    transform: translateZ(100px);
  }
  .box-area .box2 {
    position: absolute;
    background-color: var(--body-font-color);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    transform: rotateY(90deg) translateZ(100px);
  }

  .box-area .box3 {
    position: absolute;
    background-color: var(--main-font-color-dark);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
  }

  .box-area .box4 {
    position: absolute;
    background-color: var(--body-font-color);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
  }

  .box-area .box5 {
    position: absolute;
    background-color: var(--main-font-color-dark);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
  }

  .box-area .box6 {
    position: absolute;
    background-color: var(--body-font-color);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    transform: rotateX(-90deg) translateZ(100px);
  }
}

/* ANIMATIONS */
@keyframes fadeUp {
  0% {
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scale {
  0% {
    transform: scale(2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes grow {
  0% {
    width: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

@keyframes fadeDown {
  0% {
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    opacity: 1;
    transform: rotate(-360deg);
  }
}

@keyframes up {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-1rem);
  }
}

@keyframes animate {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    transform: rotateY(-270deg);
  }
}
